
<div class="text-center">
    <div class="top">
        <h3>Task Description</h3>
    </div>
</div>
<div>
    <div class=" mt-5 mb-5">
        <span class="mr-5">Status: </span>
        <span class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
        </span>

    </div>
    <div class=" mt-5 mb-5">
        <span class="mr-4">Cartegory: </span>
        <span class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
        </span>

    </div>
    <div class=" mt-5 mb-5">
        <span class="mr-5">Date: </span>
        <span class="alert alert-primary ml-2" role="alert">
            A simple primary alert—check it out!
        </span>

    </div>
    <div class="mt-2 mb-3">
        Task Description
    </div>
    <ul class="list-group">
        <li class="list-group-item">Dapibus ac facilisis in</li>


    </ul>
</div>